<header>
{% bootstrapNavbar "md" -%}
{% bootstrapNavbarBrand site.title "/assets/img/logo-default-long.svg" -%}
{% bootstrapNavbarToggler "header-navbar" -%}
{% bootstrapNavbarNav "header-navbar" -%}
{% bootstrapNavbarItemDropdown "/services" -%}
{% for service in collections.service -%}
{% bootstrapNavbarItemDropdownItem service.url -%}
{% endfor -%}
{% endbootstrapNavbarItemDropdown -%}
{% bootstrapNavbarItem "/contact" -%}
{% bootstrapNavbarItem "/contact" "Contact 2" -%}
{% endbootstrapNavbarNav -%}
{% endbootstrapNavbar -%}
</header>
