body {
	background-color: #121212;
	color: #d6d6d6;
	border: 1px solid white;
}

header {
	background: blue;
}

main {
	background: purple;
}

footer {
	background: blue;
}

#header-logo {
	width: 100%;
}
